*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    height: 15vh;
    border-bottom: 1px solid black;
    padding: 10px 20px 0 20px;
}

/* header-top */
.header-top{
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.header-top .hamburger{
    display: flex;
    align-items: center;
}

/* header-bottom */
.header-bottom{
    height: 40%;
    display: flex;
    align-items: center;
    list-style: none;
}

.header-bottom li{
    margin-right: 20px;
    
}
/* /header */

/* main */
.container-main{
    width: 70%;
    margin: 0 auto;
}

ol{
    padding: 10px 0 10px 10px
}

ol li{
    padding:20px 0 10px 10px;
}

.faq{
    margin: 50px 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
}

/* footer */
footer{
    height: 6vh;
    background-color: lightgray;
}

.container-footer{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

ul li{
    margin-right: 10px;
}

.select{
    display: flex;
    align-items: center;
}

.select select{
    width: 150px;
}



h1{
    font-size: 1.5em;
    font-weight: 200;
}

h2{
    margin-bottom: 20px;
}

h3{
    margin: 20px 0;
}

p{
    margin-bottom: 20px;
}

p a{
    text-decoration: none;
    color: blue;
}

